.Encabezado{
    display: flex;
    justify-content: space-between;
}

h1{
    font-variant: small-caps;
}

img{
    width: 300px;
    height: 90%;
}
#btn-enviar{
    width: 35%;
    margin-left: 10%;
    margin-bottom: 2%;

}
.informacion{
    display: flex;
    border-bottom: solid;

}

aside{
    display: flex;
    flex-direction:column;
    border-style: groove;
}
.Navegacion-principal{
    margin-bottom: auto;
}

.autos{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
}
a:hover{
    background-color: red
}

footer{
    font-variant: small-caps;
    border-top: solid;
}
fieldset{
    display: flex;
    flex-direction: column;
}
.dato{
    display:flex;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 2%;
}
legend {
  text-align: center;
}